<p>
  <b>Version:</b>
  <%=h @gigaso.version %>
</p>

<p>
  <b>Desc:</b>
  <%=h @gigaso.desc %>
</p>

<p>
  <b>Path:</b>
  <%=h @gigaso.path %>
</p>
<p>
  <b>Path:</b>
  <%=h @gigaso.path2 %>
</p>



<%= link_to 'Edit', edit_gigaso_path(@gigaso) %> |
<%= link_to 'Back', gigasos_path %>
