<h1>Editing vote</h1>

<% form_for(@vote) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :result %><br />
    <%= f.text_field :result %>
  </p>
  <p>
    <%= f.label :other %><br />
    <%= f.text_field :other %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @vote %> |
<%= link_to 'Back', votes_path %>