<h1>New dcount</h1>

<% form_for(@dcount) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', dcounts_path %>